// ======================
// TYPOGRAPHY PLACEHOLDERS
// ======================

// ----------- MOBILE -----------
%h1-mobile {
  font-size: 20px;
  line-height: 38px;
}

%h2-mobile {
  font-size: 18px;
  line-height: 32px;
}

%h3-mobile {
  font-size: 16px;
  line-height: 28px;
}

%h4-mobile {
  font-size: 14px;
  line-height: 22px;
}

%h5-mobile {
  font-size: 12px;
  line-height: 20px;
}

%h6-mobile {
  font-size: 10px;
  line-height: 16px;
}

%p-mobile {
  font-size: 14px;
  line-height: 20px;
}

%span-mobile {
  font-size: 12px;
  line-height: 16px;
}

%button-text-mobile {
  font-size: 10px;
  line-height: 14px;
}

// ----------- TABLET -----------
%h1-tablet {
  font-size: 38px;
  line-height: 54px;
}

%h2-tablet {
  font-size: 36px;
  line-height: 46px;
}

%h3-tablet {
  font-size: 34px;
  line-height: 38px;
}

%h4-tablet {
  font-size: 22px;
  line-height: 28px;
}

%h5-tablet {
  font-size: 18px;
  line-height: 24px;
}

%h6-tablet {
  font-size: 13px;
  line-height: 16px;
}

%p-tablet {
  font-size: 14px;
  line-height: 22px;
}

%span-tablet {
  font-size: 13px;
  line-height: 18px;
}

%button-text-tablet {
  font-size: 12px;
  line-height: 14px;
}

// ----------- DESKTOP -----------
%h1-desktop {
  font-size: 34px;
  line-height: 62px;
}

%h2-desktop {
  font-size: 32px;
  line-height: 52px;
}

%h3-desktop {
  font-size: 28px;
  line-height: 46px;
}

%h4-desktop {
  font-size: 24px;
  line-height: 30px;
}

%h5-desktop {
  font-size: 18px;
  line-height: 26px;
}

%h6-desktop {
  font-size: 13px;
  line-height: 16px;
}

%p-desktop {
  font-size: 14px;
  line-height: 22px;
}

%span-desktop {
  font-size: 13px;
  line-height: 18px;
}

%button-text-desktop {
  font-size: 14px;
  line-height: 14px;
}
