$orange: #FF7D45;
$white: #FFFFFF;
$background: linear-gradient(90deg, #FFE986, #FFAD4E);
$black: #191A23;
$gray: #F3F3F3;

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

$arrow-down: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23000' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
