$orange: #FF7D45;
$white: #FFFFFF;
$background: linear-gradient(90deg, #FFE986, #FFAD4E);
$black: #191A23;
$gray: #F3F3F3;

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
