$c-orange: #FF7D45;
$c-white: #FFFFFF;
$c-background: linear-gradient(90deg, #FFE986, #FFAD4E);;
$c-black: #191A23;
$c-gray: #F3F3F3;
$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;