@use '@/styles/abstracts/index' as *;

.homescreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 500px;

  &-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 700px;

    &-button {
      @extend .button-text !optional;
      width: 151px;
      height: 44px;
      border-radius: 10px;
      background: $black;
      color: $white;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      @include hover(transform, scale(1.03));

      &:active {
        background: $orange;
      }
    }
  }

  &-image {
    &-png {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
}

// === TABLET STYLES ===
@include on-tablet {
  .homescreen {
    gap: 50px;

    &-text {
      &-button {
        font-size: 16px;
        width: 201px;
        height: 54px;
      }
    }

    &-image {
      &-png {
        width: 200px;
        height: 200px;
      }
    }
  }
}

// === DESKTOP STYLES ===
@include on-desktop {
  .homescreen {
    &-text {
      &-button {
        font-size: 18px;
        width: 231px;
        height: 68px;
      }
    }

    &-image {
      &-png {
        width: 480px;
        height: 480px;
      }
    }
  }
}
