.homescreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 500px;

    &-text {
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 700px;
        font-size: 10px; /* Default font size */

        &-button {
            width: 111px;
            height: 34px;
            border-radius: 10px;
        }
    }

    &-image {
        &-png {
            width: 50px; /* Default size */
            height: 50px;
        }
    }
}

@media (min-width: 768px) {
    .homescreen {
        gap: 50px;

        &-text {
            font-size: 14px;

            &-button {
                width: 201px;
                height: 54px;
                border-radius: 10px;
            }
        }

        &-image {
            &-png {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .homescreen {
        &-text {
            font-size: 16px;

            &-button {
                width: 231px;
                height: 68px;
                border-radius: 10px;
            }
        }

        &-image {
            &-png {
                width: 480px;
                height: 480px;
            }
        }
    }
}
